.carosel {
  background-color: #F7B094;
  margin-top: 380px;
  padding-top: 70px;
}
.slick-dots {
  background-color: #F7B094;
}
.text1 {
  Font-family: 'Roboto';
  Font-style: Bold;
  font-size: 22px;
  Line-height: 25px;
  Line-height: 100%;
  color: #FFFFFF;
}
.text2 {
  Font-family: 'Roboto';
  Font-style: Bold;
  font-size: 22px;
  Line-height: 25px;
  Line-height: 100%;
  color: #345C7D;
  border-bottom: 5px solid #F5717F;
}
